/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-gold: 24 56% 63%;
    --clr-black: 0 0% 8%;
    --clr-gray: 0 0% 27%;
    --clr-white: 0 0% 100%;
    
    /* font-sizes */
    --fs-900: 3.75rem;
    --fs-800: 3.125rem;
    --fs-700: 3.125rem;
    --fs-600: 2rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
   
    /* font-families */
    --ff-shoulders: "Big Shoulders Display", cursive;
    --ff-outfit: "Outfit", sans-serif;
}

@media (min-width: 35rem) {
    :root {
        --fs-900: 4.375rem;
        --fs-800: 3.4375rem;
        --fs-700: 3.125rem;
        --fs-600: 2rem;
        --fs-500: 1.125rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 1100px) {
    :root {
        /* font-sizes */
        --fs-900: 6rem;
        --fs-800: 4.375rem;
        --fs-700: 3.75rem;
        --fs-600: 2.25rem;
        --fs-500: 1.375rem;
        --fs-400: 1.125rem;
    }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

/* set up the body */
body {
    background-color: hsl( var(--clr-white) );
    color: hsl( var(--clr-black) );
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.bg-gold { background-color: hsl( var(--clr-gold) );}
.bg-black { background-color: hsl( var(--clr-black) );}

.text-black { color: hsl( var(--clr-black) );}
.text-gold { color: hsl( var(--clr-gold) );}
.text-gray { color: hsl( var(--clr-gray) );}
.text-white { color: hsl( var(--clr-white) );}

/* typography */

.ff-shoulders { font-family: var(--ff-shoulders); } 
.ff-outfit { font-family: var(--ff-outfit); } 

.uppercase { text-transform: uppercase; }

.fs-900 {
    font-size: var(--fs-900);
    line-height: 55px;
}
.fs-800 {
    font-size: var(--fs-800);
    line-height: 45px;
}
.fs-700 {
    font-size: var(--fs-700);
    line-height: 45px;
}
.fs-600 {
    font-size: var(--fs-600);
    line-height: 32px;
}
.fs-500 {
    font-size: var(--fs-500);
    line-height: 28px;
}
.fs-400 {
    font-size: var(--fs-400);
    line-height: 26px;
}

@media (min-width: 35rem) {
    .fs-900 { line-height: 65px; }
    .fs-800 { line-height: 50px; }
}

@media (min-width: 1100px) {
    .fs-900 { line-height: 88px; }
    .fs-800 { line-height: 70px; }
    .fs-700 { line-height: 60px; }
    .fs-600 { line-height: 36px; }
    .fs-500 { line-height: 32px; }
    .fs-400 { line-height: 28px; }
}

/* ------------------- */
/*     Components      */
/* ------------------- */

button {
    width: 16.25rem;
    height: 4.5rem;
    font-family: "Big Shoulders Display", cursive;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.63636px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.button1 {
    color: hsl( var(--clr-white) );
    padding-right: 0;
    padding-left: 1.9rem;
}

.button1 > img {
    padding: 1.5rem;
}

.button1:hover,
.button1:focus {
    background-color: hsl( var(--clr-black) );
    box-shadow: inset 14rem 0 0 0 hsl( var(--clr-gold) );
    transition: ease-out .4s ; 
}

.button1:hover > img, 
.button1:focus > img {
    background-color: hsl( var(--clr-black) );
    transition: step-end .4s;
}

.button2 {
    position: absolute;
    z-index: 1000;
    color: hsl( var(--clr-white) );
    padding-left: 0;
    padding-right: 1.9rem;
}

.button2 > img {
    padding: 1.5rem;
}

.button2:hover,
.button2:focus {
    background-color: hsl( var(--clr-black) );
    box-shadow: inset 16.25rem 0 0 0 hsl( var(--clr-gold) );
    transition: ease-out .4s ;
}

.button2:hover > img, 
.button2:focus > img {
    background-color: hsl( var(--clr-black) );
    transition: step-end .4s;
}


/* ------------------- */
/*     Layout          */
/* ------------------- */


.black-rectangle {
    position: absolute;
    height: 800px;
    width: 30%;
    background-color: hsl( var(--clr-black) );
    z-index: -1;
    display: none;
}

@media (min-width: 1100px) {
    .black-rectangle {
        display: initial;
    }
}

@media(min-width: 35rem) {
    #image-hero {
        position: absolute;
        max-width: 57%;
        z-index: -1;
    }
}

@media(min-width: 1100px) {
    #image-hero {
        left: 30%;
        z-index: -1;    
    }
}

.top {
    flex-direction: column;
    margin-top: 2rem;
    padding-inline: 1rem;
    gap: 2rem;
    justify-content: space-between;
}

@media(min-width: 35rem) {
    .top {
        margin-left: 50%;
        margin-top: clamp(4rem, 8vw + 1rem , 9rem);
        max-width: 25rem;
        margin-bottom: 3rem;
    }
}

@media(min-width: 715px) { 
    .top { margin-top: 11rem; margin-bottom: 5rem; }
}

@media(min-width: 768px) {
    .top {
        margin-top: 11rem;
        margin-bottom: 7.5rem;
    }
}

@media(min-width: 850px) {
    .top {
        margin-top: 11rem;
        margin-bottom: 15rem; }
}

@media(min-width: 980px) { 
    .top { margin-bottom: 21rem; }
}

@media(min-width: 1100px) {
    .top {
        flex-direction: row;
        margin-left: 11.5%;
        margin-top: 11.5rem;
        width: 77%;
        gap: 23rem;    
    }
}

@media(min-width: 1400px) {
    .top {
        max-width: 1400px;
        gap: 15rem;
    }
}

@media(min-width: 2000px) { 
    .top { max-width: 1800px; }
}

h1 {
    font-weight: 900;
    z-index: 1;
    color: white;
    mix-blend-mode: difference;
}

.top button {
    margin-top: 2rem;
}

@media(min-width: 1100px) {
    .top button {
        margin-top: 4rem;
    }

    .top-right {
        width: 22rem;
    }
}

.main {
    padding-inline: 1rem;
    display: grid;
    margin-top: 7.5rem;
}

@media (min-width: 35rem) {
    .main {
        max-width: 43rem;
        margin-inline: auto;
        grid-template-columns: 3fr 1fr 3fr;
        grid-template-rows: auto auto 3fr;
        gap: 11px;
        grid-template-areas: 
        'grid-item1 image-grid-1 image-grid-1'
        'image-grid-2 image-grid-2 image-grid-3'
        'image-grid-2 image-grid-2 grid-item2';
    }

    #grid-item1 {
        grid-area: grid-item1;
        padding-right: 4.5rem;
    }

    #grid-item2 {
        grid-area: grid-item2;
        padding-bottom: 7rem;
    }

    #image-grid-1 {
        grid-area: image-grid-1;
    }

    #image-grid-2 {
        grid-area: image-grid-2;
    }

    #image-grid-3 {
        grid-area: image-grid-3;
    }
}

@media (min-width: 1100px) {
    .main {
        max-width: 1110px;
    }

    #grid-item1 {
        padding-right: 9rem;
    }

    #grid-item2 {
        padding-bottom: 10.5rem;
    }
}

.black-box {
    padding-top: 3rem;
    padding-inline: 1.5rem;
    margin-bottom: 5.2rem;
}

@media (max-width: 35rem) {
    .grid-item1 > h2 {
        font-weight: 900;
        margin-top: .56rem;
        margin-bottom: 1.31rem;
        padding-right: 3rem;
    }

    .grid-item1 > p {
        margin-bottom: 2rem;
    }

    .main > picture {
        margin-bottom: 1rem;
    }

    .black-box {
        padding: 3rem 1.5rem;
        margin-bottom: 7.5rem;
    }

    .black-box > h2 {
        margin-bottom: 1.5rem;
    }
}

.container {
    padding: 4rem 2rem;
}

.container > h3 {
    margin-bottom: 2.375rem;
    font-weight: 700;
}

.logosP1, .logosP2 {
    margin-top: 2.5rem;
    gap: 1.25rem;
}

.logosP2 {
    filter: invert(100%);
}

.hoverP1:hover {
    cursor: pointer;
    filter: invert(57%) sepia(42%) saturate(363%) hue-rotate(332deg) brightness(145%) contrast(87%);
}

.hoverP2:hover {
    cursor: pointer;
    filter: invert(100%);
}

@media (min-width: 35rem) {
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        padding-inline: 2.5rem;
        margin-inline: auto;
        max-width: 750px;
    }

    .container > h3 {
        margin-right: 4rem;
    }

    .container > p {
        max-width: 17.5rem;
    }

    .logosP1, .logosP2 {
        margin-top: 0;
    }
}

@media (min-width: 1100px) {
    .container {
        max-width: 1400px;
        margin-inline: auto;
    }

    .container > p {
        max-width: 23rem;
    }
}

/* -------- */
/*  Map     */
/* -------- */

#map {
    width: 100%;
    height: 34.375rem;
}

.leaflet-tile {
    filter: saturate(0%) !important;
}

/* ------------------ */
/*    Location page   */
/* ------------------ */

.location {
    flex-direction: column;
    padding-inline: 1rem;
    padding-top: 3rem;
}

.location > h1 {
    padding-bottom: 3rem;
    width: 343px;
}

address {
    font-style: normal;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.address-open > p {
    padding-bottom: 3.5rem;
}

@media (min-width:35rem) {
    .button2 {
        left: 40px;
    }

    .location {
        flex-direction: row;
        padding-top: 5.5rem;
        padding-inline: 2.5rem;
    }

    .location > h1 {
        margin-right: 4.25rem;
        width: 223px;
    }

    .address-open {
        max-width: 25rem;
    }

    .address-open > p {
        padding-bottom: 5rem;
    }
}

@media (min-width:1100px) {

    .button2 {
        left: 9.75rem;
    }

    .location {
        padding-top: 6.5rem;
        padding-inline: 10.3125rem;        
    }

    .location > h1 {
        margin-right: 14rem;
        width: 350px;
    }

    .address-open {
        max-width: 25rem;
    }

    .address-open > p {
        padding-bottom: 5rem;
    }
}